* {
  box-sizing: border-box;
}

body {
  background-color: #b8b9ba;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 2.0;
  display: block;
}

.page-header {
  text-align: center;
}

.js {
  padding: 50px;
  margin: 20px;
}
